@model IEnumerable<MotorDepot.WEB.Models.Flight.FlightViewModel>

@{
    ViewBag.Title = "All flights";
}

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

@if (User.IsInRole("driver"))
{
    <h2>All available flights</h2>
}
else
{
    <h2>All flights</h2>
}

@if (!User.IsInRole("driver"))
{
    <div>
        @Html.ActionLink("Create new flight", "Create")
    </div>
}

<table class="table table-striped table-bordered" id="example">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DeparturePlace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrivalPlace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Distance)
        </th>

        @if (!User.IsInRole("driver"))
        {
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutoNumbers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DriverEmail)
            </th>
        }
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeparturePlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distance)
            </td>
            @if (!User.IsInRole("driver"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AutoNumbers)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DriverEmail)
                </td>
            }
            <td>
                @if (User.IsInRole("driver"))
                {
                    @Html.ActionLink("Request this flight", "RequestFor", new { flightId = item.Id })
                }
                else
                {
                    @Html.ActionLink(" ", "Edit", new { flightId = item.Id }, new { @class = "fa fa-edit fa-2x text-decoration-none"}) <i> </i>
                    @Html.ActionLink(" ", "Details", new { flightId = item.Id }, new { @class="fa fa-info fa-2x text-decoration-none"}) <i> </i>
                    if (item.Status.ToString() == "Occupied")
                    {
                        <a class="btn btn-danger" data-toggle="modal" data-target="#exampleModal"
                           href="@Url.Action("DeleteDriver", new { flightId = item.Id})">
                            Delete driver
                        </a>
                    }
                }
            </td>
        </tr>
    }
    </tbody>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure to want delete driver and car from this flight? (Flight status will be automatically on free)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a class="btn btn-primary" id="del-btn" href="">Delete driver and auto</a>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#example').DataTable();

            $('.btn-danger').click(function() {
                $('#del-btn').attr('href', $(this).attr('href'));
            });
        });
    </script>
}
