@model IEnumerable<MotorDepot.WEB.Models.Flight.FlightViewModel>

@{
    ViewBag.Title = "All flights";
}

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

@if (User.IsInRole("driver"))
{
    <h2>All available flights</h2>
}
else
{
    <h2>All flights</h2>
}

@if (!User.IsInRole("driver"))
{
    <div>
        @Html.ActionLink("Create new flight", "Create")
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DeparturePlace)
            <a class="fa fa-sort sort" style="cursor: pointer" 
               href="/Flight/All?sortProperty=DeparturePlace&asc=true"></a>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrivalPlace)
            <a class="fa fa-sort sort" style="cursor: pointer" 
               href="/Flight/All?sortProperty=ArrivalPlace&asc=true"></a>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
            <a class="fa fa-sort sort" style="cursor: pointer" 
               href="/Flight/All?sortProperty=CreateDate&asc=true"></a>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Distance)
            <a class="fa fa-sort sort" style="cursor: pointer" 
               href="/Flight/All?sortProperty=Distance&asc=true"></a>
        </th>

        @if (!User.IsInRole("driver"))
        {
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutoName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutoNumbers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DriverEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DriverName)
            </th>
        }
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeparturePlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distance)
            </td>
            @if (!User.IsInRole("driver"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AutoName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AutoNumbers)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DriverEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DriverName)
                </td>
            }
            <td>
                @if (User.IsInRole("driver"))
                {
                    @Html.ActionLink("Request this flight", "RequestFor", new { flightId = item.Id })
                }
                else
                {
                    @Html.ActionLink("Edit", "Edit", new { flightId = item.Id }) <i>|</i>
                    @Html.ActionLink("Details", "Details", new { flightId = item.Id }) <i>|</i>
                    @Html.ActionLink("Delete driver and auto", "DeleteDriver", new { flightId = item.Id })
                }
            </td>
        </tr>
    }

</table>

@section scripts
{
    <script>
        $('.sort').onclick(function() {
            $(this).attr("href");
        });
    </script>
}