@using MotorDepot.Shared.Enums
@model IEnumerable<MotorDepot.WEB.Models.FlightRequest.FlightRequestDisplayViewModel>

@{
    ViewBag.Title = "Requests for flights";
}

<h2>Requests</h2>

<table class="table table-striped table-bordered" id="example">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DriverName)
            </th>
            <th class="no-sort">
                @CustomHelper.DropDownMenuOfEnum(
                    typeof(FlightRequestStatus),
                    "status",
                    "Requests",
                    "Flight",
                    ViewBag.StatusTitle as string)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestedFlightId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th class="no-sort"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DriverName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestedFlightId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                @if (item.Status == FlightRequestStatus.InQueue)
                {
                    <td>
                        @Html.ActionLink(" ", "ConfirmRequest", new { requestId = item.Id }, new { @class = "fa fa-check" })
                    </td>
                }
                else
                {
                    <td></td>
                }
            </tr>
        }
    </tbody>
</table>


@section scripts
{
    <script>
        $(document).ready(function () {
            $('#example').dataTable({
                "columnDefs": [{
                    "targets": 'no-sort',
                    "orderable": false,
                }]
            });
        });
    </script>
}