@model MotorDepot.WEB.Models.FlightRequest.FlightRequestCreateViewModel

@{
    ViewBag.Title = "Request for flight";
}

<h2>Request for flight #@Model.RequestedFlightId</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <input type="hidden" name="RequestedFlightId" value="@Model.RequestedFlightId" />

    <div class="form-group">
        <h6>Engine power in horsepower* (e.x. 132)</h6>
        <div class="col-md-10">
            @Html.EditorFor(model => model.EnginePower, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EnginePower, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <h6>Engine capacity in cm³* (e.x. 12,3)</h6>
        <div class="col-md-10">
            @Html.EditorFor(model => model.EngineCapacity, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EngineCapacity, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <h6>Min boot volume for the flight in liters* (e.x. 35,6)</h6>
        <div class="col-md-10">
            @Html.EditorFor(model => model.BootVolume, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BootVolume, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <h6>Description for dispatcher:</h6>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <h6>Auto type:</h6>
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.AutoType, ViewBag.AutoTypes as SelectList, new {@class="form-control"})
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Send" class="btn btn-primary" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
