@model IEnumerable<MotorDepot.WEB.Models.FlightViewModel>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DeparturePlace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrivalPlace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AutoName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AutoNumbers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DriverEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DriverName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DeparturePlace)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArrivalPlace)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AutoName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AutoNumbers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DriverEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DriverName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
