@model IEnumerable<MotorDepot.WEB.Models.Auto.AutoDisplayViewModel>

@{
    ViewBag.Title = "All";
}

<h2>All automobiles</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-bordered" id="example">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numbers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsedInFlightNow)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Numbers)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsedInFlightNow)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink(" ", "Edit", new { autoId = item.Id }, new { @class = "fa fa-edit fa-2x text-decoration-none" }) <i> </i>
                    @Html.ActionLink(" ", "Details", new { autoId = item.Id }, new { @class = "fa fa-info fa-2x text-decoration-none" })
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
}
