@model MotorDepot.WEB.Models.Auto.UserRegisterViewModel

@{
    ViewBag.Title = "Registration new user";
}

<h2>AddDispatcher</h2>
<hr />
<div class="w-50 m-auto">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-row w-75">
            <div class="form-group col-md-6">
                <h6>First name <i class="text-danger">*</i></h6>
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-6">
                <h6>Last name <i class="text-danger">*</i></h6>
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h6>E-mail address <i class="text-danger">*</i></h6>
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control w-75" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <h6>Phone number <i class="text-danger">*</i></h6>
            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control w-75" } })
            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <h6>Address <i class="text-danger">*</i></h6>
            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control w-75" } })
            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <h6>Password <i class="text-danger">*</i></h6>
            <div>
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control w-75 d-inline" } })
                <span class="fa fa-eye-slash btn mb-2"></span>
            </div>
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <h6>Repeat password <i class="text-danger">*</i></h6>
            @Html.EditorFor(model => model.ComparePassword, new { htmlAttributes = new { @class = "form-control w-75" } })
            @Html.ValidationMessageFor(model => model.ComparePassword, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Create" class="btn btn-primary border border-dark" />
            </div>
        </div>
    }
</div>

@section scripts
{
    <script>
        $('.fa-eye-slash').click(function () {
            var passwordInputType = $('#Password').get(0).type;
            if (passwordInputType === 'text') {
                $('#Password').get(0).type = 'password';
            } else {
                $('#Password').get(0).type = 'text';
            }
        });
    </script>
}