@model IEnumerable<MotorDepot.WEB.Models.User.DispatcherViewModel>

@{
    ViewBag.Title = "Dispatchers";
}

<h2>Dispatchers</h2>
<p>
    @Html.ActionLink("Register new", "AddDispatcher")
</p>
<table class="table" id="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink(" ", "DispatcherDetails", new { id = item.Id }, new { @class = "fa fa-info fa-2x text-decoration-none" })
                </td>
            </tr>
        }
    </tbody>
</table>


@section scripts
{
    <script>
        $(document).ready(function() {
            $('#table').DataTable();
        });
    </script>
}