@using System.Collections
@model IEnumerable<MotorDepot.WEB.Models.Logging.LogViewModel>

@{
    ViewBag.Title = "Log";
}

<h2>Logs</h2>

<table class="table" id="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Controller)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Action)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                <div class="dropdown show">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @Model.FirstOrDefault().LogType
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="@Url.Action("Log", new {logType = 0})">Action</a>
                        <a class="dropdown-item" href="@Url.Action("Log", new {logType = 1})">Exception</a>
                        <a class="dropdown-item" href="@Url.Action("Log", new {logType = 2})">Warning</a>
                    </div>
                </div>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Controller)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Action)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LogType)
                </td>
                <td>
                    @Html.ActionLink("Log details", "LogDetails", new { logId = @item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>


@section scripts
{
    <script>
        $(document).ready(function () {
            $('#table').DataTable();
        });
    </script>
}