@model IEnumerable<MotorDepot.WEB.Models.Logging.LogViewModel>

@{
    ViewBag.Title = "Log";
}

<h2>Logs</h2>

<table class="table" id="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Controller)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Action)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DropDownList("logType", ViewBag.LogTypes as SelectList, new
                {
                    id = "LogTypeDropDown"
                })
            </th>
            <th></th>
        </tr>
    </thead>
    @Html.Partial("LogTable", Model)
</table>


@section scripts
{
    <script>
        $(document).ready(function () {
            $('#table').DataTable({
                initComplete: function () {
                    this.api().columns().every(function () {
                        var column = this;
                        var select = $('<select><option value=""></option></select>')
                            .appendTo($(column.footer()).empty())
                            .on('change',
                                function () {
                                    var val = $.fn.dataTable.util.escapeRegex(
                                        $(this).val()
                                    );

                                    column
                                        .search(val ? '^' + val + '$' : '', true, false)
                                        .draw();
                                });

                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });
                }
            });

            $('#LogTypeDropDown').change(function () {
                var val = $(this).children("option:selected").val();

                $.ajax({
                    type: 'Get',
                    url: `/Admin/LogAjax/?logType=${val}`,
                    async: true,
                    success: text => {
                        $('.item-row').remove();
                        $('#table').append(text);
                    }
                });
            });
        });
    </script>
}