@model IEnumerable<MotorDepot.WEB.Models.Logging.LogViewModel>

    <tbody>
        @foreach (var item in Model)
        {
            <tr class="item-row">
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Controller)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Action)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LogType)
                </td>
                <td>
                    @Html.ActionLink("Log details", "LogDetails", new { logId = @item.Id })
                </td>
            </tr>
        }
    </tbody>